{
  "extends": [
      "@antfu",
      "@nuxtjs/eslint-config-typescript",
      "plugin:@intlify/vue-i18n/recommended",
      "plugin:tailwindcss/recommended"
  ],
  "rules": {
      "@typescript-eslint/consistent-type-definitions": "off",
      "tailwindcss/no-custom-classname": "off"
  }
}